@charset "UTF-8";

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    padding:0;
    margin: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    position: relative;
}


#cssmenu li a{
    border-top: 1px solid #009FE0;
    border-right: 3px solid #009FE0;
    background-color: #fff;
    border-bottom-right-radius : 12px;
    -moz-border-bottom-right-radius : 12px;
    border-top-right-radius : 12px;
    -moz-border-top-right-radius : 12px;   
    color : #009FE0;
}

#cssmenu a:hover {
    background-color: #99e6ff;
}

#cssmenu {
    width: 250px;
}
#cssmenu > ul > li {
    cursor: pointer;
}


#cssmenu > ul > li >a {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    line-height: 1.6;
    padding: 6px 15px;
}
#cssmenu li a.parent:before{
    content:url('../img/before.png'); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    left:-10px;
}

#cssmenu > ul > li:last-child {
    border-bottom: 1px solid #009FE0;
    border-bottom-right-radius : 12px;
    -moz-border-bottom-right-radius : 12px;
}
#cssmenu > ul > li > a {
    display: block;
    color: #009FE0;
    font-weight: bold;
}
#cssmenu > ul > li > a:hover {
    text-decoration: none;
}

#cssmenu ul li a.active {
    border-bottom: none;
    background-color: #009FE0;
    color : white;
}

#cssmenu > ul > li.has-sub > a:after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
}
#cssmenu > ul > li.has-sub > a.active:after {
    right: 14px;
    top: 12px;
    border: 5px solid transparent;
    border-top: 5px solid #4e5800;
}
/* Sub menu */
#cssmenu ul ul {
    padding: 0;
    display: none;
}
#cssmenu ul ul a {
    background: #efefef;
    display: block;
}
#cssmenu ul ul li.odd a {
    background: #e5e5e5;
}
#cssmenu ul ul li:last-child {
    border: none;
}

a.lism{
    font-size: 14px;
    color:black;
    line-height: 1.8;
    padding: 6px 15px;
    padding-left: 20px;
}

.menu_admin{
    border : 1px solid black;
    font-weight: bold;
    background-color: #009FE0;
    color : white;
    cursor: pointer;
    border-radius : 10px;
    -moz-border-radius : 10px;
    padding:5px;
    margin-right: 10px;
}