.sky-tabs,
.sky-tabs * {
    outline: none;
}
.sky-tabs {
    position: relative;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0;
    text-align: left;
    color: #666;
}
.sky-tabs > input {
    position: absolute;
    display: none;
}
.sky-tabs > label {
    position: relative;
    z-index: 1;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 1px;
    padding-top: 0;
    padding-left: 0;
    font-size: 13px;
    line-height: 45px;
    cursor: pointer;
}
.sky-tabs > label.inverse {
    float: right;
    padding-right: 0;
    padding-left: 1px;
}
.sky-tabs > label.disabled {
    cursor: default;
}
.sky-tabs > label span {
    display: block;
    padding: 2px;
    background: rgba(255,255,255,0.9);
}
.sky-tabs > label span span {
    padding: 0 20px;
    background: transparent;
    transition: background 0.4s, color 0.4s;
    -o-transition: background 0.4s, color 0.4s;
    -ms-transition: background 0.4s, color 0.4s;
    -moz-transition: background 0.4s, color 0.4s;
    -webkit-transition: background 0.4s, color 0.4s;	
}
.sky-tabs > label:hover span span {
    background: #2da5da;
    color: #fff;	
}
.sky-tabs > label.disabled span span {
    background: transparent;
    color: inherit;
}
.sky-tabs > input:checked + label {
    cursor: default;
}
.sky-tabs > input:checked + label span span {
    background: #2da5da;
    color: #fff;
}
.sky-tabs > .switcher {
    display: none;
}
.sky-tabs > .switcher a {
    display: block;
    margin: 0 -20px;
    padding: 0 5px;
    text-decoration: none;
    color: inherit;
}
.sky-tabs > ul.vo {
    list-style: none;
    position: relative;
    display: block;
    font-size: 13px;
}
.sky-tabs > ul.vo > li.vo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    padding: 20px 25px 25px;
    background: rgba(255,255,255,0.9);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: opacity 0.8s, -o-transform 0.8s;	
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;	
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;	
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}
.sky-tabs > .sky-tab-content-1:checked ~ ul.vo > .sky-tab-content-1,
.sky-tabs > .sky-tab-content-2:checked ~ ul.vo > .sky-tab-content-2,
.sky-tabs > .sky-tab-content-3:checked ~ ul.vo > .sky-tab-content-3,
.sky-tabs > .sky-tab-content-4:checked ~ ul.vo > .sky-tab-content-4,
.sky-tabs > .sky-tab-content-5:checked ~ ul.vo > .sky-tab-content-5,
.sky-tabs > .sky-tab-content-6:checked ~ ul.vo > .sky-tab-content-6,
.sky-tabs > .sky-tab-content-7:checked ~ ul.vo > .sky-tab-content-7,
.sky-tabs > .sky-tab-content-8:checked ~ ul.vo > .sky-tab-content-8,
.sky-tabs > .sky-tab-content-9:checked ~ ul.vo > .sky-tab-content-9 {
    position: relative;
    z-index: 1;
    opacity: 1;
}


/**/
/* positions */
/**/
.sky-tabs-pos-top-center {
    text-align: center;
}
.sky-tabs-pos-top-right {
    text-align: right;
}
.sky-tabs-pos-top-right > label {
    padding-right: 0;
    padding-left: 1px;
}

.sky-tabs-pos-left > label,
.sky-tabs-pos-right > label {
    display: block;
    width: 13%;
    float: left;
    clear: left;
    margin-right: 0;
}
.sky-tabs-pos-right > label {
    float: right;
    clear: right;
}
.sky-tabs-pos-left > ul.vo {
    margin-left: 10%;
}
.sky-tabs-pos-right > ul.vo {
    margin-right: 10%;
}
.sky-tabs-pos-right > label {
    padding-right: 0;
    padding-left: 0px;
}
.sky-tabs-pos-top-center > ul.vo > li.vo,
.sky-tabs-pos-top-justify > ul.vo > li.vo {
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
}
.sky-tabs-pos-right > ul.vo > li.vo,
.sky-tabs-pos-top-right > ul.vo > li.vo {
    -o-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
}

.sky-tabs .typography p {
    margin: 0;
    padding: 0;
    line-height: 20px;
    text-align: left;
}
.sky-tabs .typography ul.vo,
.sky-tabs .typography ol.vo {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
}
.sky-tabs .typography li.vo {
    position: relative;
    margin-top: 5px;
    padding-left: 20px;
}
.sky-tabs .typography li.vo ul.vo,
.sky-tabs .typography li.vo ol.vo {
    margin-top: 5px;
}
.sky-tabs .typography ul.vo li.vo:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    background: #333;
}
.sky-tabs .typography ol.vo {
    counter-reset: list1;
}
.sky-tabs .typography ol.vo > li.vo:before {
    counter-increment:list1;
    content: counter(list1)'.';
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
}
.sky-tabs .typography a {
    text-decoration: underline;
    color: #2da5da;
}
.sky-tabs .typography a:hover {
    text-decoration: none;
}
.sky-tabs .typography .pic {
    padding: 4px;
    border: 1px dotted #ccc;
}
.sky-tabs .typography .pic img {
    display: block;
}
.sky-tabs .typography .pic-right {
    float: right;
    margin: 0 0 10px 20px;
}
.sky-tabs .typography .link {
    text-decoration: underline;
    color: #2da5da;
    cursor: pointer;
}
.sky-tabs .typography .link:hover {
    text-decoration: none;
}
.sky-tabs .typography .text-center {
    text-align: center;
}
.sky-tabs .typography .text-right {
    text-align: right;
}


/**/
/* icons */
/**/
.sky-tabs > label .fa {
    display: block;
    float: left;
    width: 18px;
    margin: 0 5px 0 -6px;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}